.btn {
  min-width: 160px;
  height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 30px;
  background-color: transparent;
  font-family: inherit;
  @include font(600, 12px, 1.33, 0.09em);
  text-transform: uppercase;
  cursor: pointer;
}
