.barbers {
  background-color: #f7f7f7;
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.barbers__pre-title {
  margin-bottom: 20px;
}

.barbers__title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card__item {
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.card__top-wrap {
  position: relative;
  overflow: hidden;
}
.card__top-text {
  position: absolute;
  top: 0;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.5;
  padding: 40px;
  background-color: rgba(255, 106, 0, 0.544);
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
  .card__item:hover & {
    transform: translateY(0%);
  }
}
.card__item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-top: 30px;
  margin-bottom: 8px;
}
.card__item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}
.socials__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: tomato;
  @extend %align-list;
  justify-content: center;
  color: #ffffff;
  &:hover {
    background-color: teal;
    color: var(--accent-color);
  }
}

.socials__icon {
  fill: currentColor;
}

/* .barbers-soc-link:hover {
  background-color: teal;
}

.barbers-soc-link:hover .barbers-soc-icon {
  fill: #ff6c00;
} */
