.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-container {
  display: flex;
  padding-left: 85px;
  gap: 130px;
}

.benefits-wrap {
  max-width: 470px;
}
.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.benefits-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 24px;
  &:nth-child(odd) {
    margin-right: 30px;
  }

  &:nth-child(even) {
    margin-top: 30px;
  }
  span {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
    display: block;
    margin-bottom: 6px;
    position: relative;
    &::after {
      content: '+';
      position: absolute;
      top: 7px;
      font-weight: 600;
      font-size: 16px;
      line-height: calc(22 / 16);
      text-align: center;
      color: var(--accent-color);
      margin-left: 1px;
    }
  }
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}
.benefits-pre-title {
  color: #303030;
  margin-bottom: 20px;
}
.benefits-title {
  margin-bottom: 20px;
}
.benefits-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
