.header {
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  width: 100%;
}

.header__container {
  @extend %align-list;
}

.navigation__logo {
  margin-right: 131px;
  background-color: #ffffff;
}

.navigation {
  @extend %align-list;
  margin-right: auto;
}

.menu {
  display: none;
  gap: 30px;
}

.menu__link,
.header__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
  letter-spacing: 0.1em;
  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__tel {
  display: none;
}

.header__btn {
  color: var(--main-btn-color);
  margin-left: 40px;
  display: none;
}

.menu-open,
.menu-close {
  background-color: transparent;
  border: none;
}

.menu-close {
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
}

.menu-open__icon {
  fill: #ffffff;
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 5;
  > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.mob-menu__list {
  margin-bottom: 64px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;
  color: #303030;
}

.mob-menu__tel {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;
  color: #303030;
}
.mob-menu__btn {
  margin-top: 24px;
  display: block;
  margin-bottom: 64px;
}

.mob-soc__link {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.2em;
  color: #303030;
}
